<div class="message" id="message-<%= message.id %>">
  <% if message.user.id == current_user.id %>
    <div class="balloon_r">
      <div class="faceicon">

      </div>
      <div class="says">
        <p><%= simple_format(message.content) %></p>
      </div>
    </div>
  <% else %>
    <div class="balloon_l">
      <div class="faceicon">
        <% if message.user.image? %>
          <%= image_tag message.user.image_url %>
        <% else %>
          <%= image_tag("default.jpg") %>
        <% end %>
      </div>
      <div class="says">
        <p><%= simple_format(message.content) %></p>
      </div>
    </div>
  <% end %>
</div>
