<% provide(:title, "Artist") %>

<p><%= link_to "新しくアーティストを登録する", new_artist_path %></p>
<hr>
<% @artist.each do |a| %>
 <div class="ui content">
  <div class="ui small image">
      <% if a.icon.nil?%>
        <%= image_tag("default.jpg")%>
      <%else%>
        <%= image_tag (a.icon)%>
      <%end%>
  </div>
    <a href="/artists/<%= a.id %>"><%= a.name %></a>
  </div>
  <hr>
<% end %>
