<% provide(:title, "Artist") %>

<p><%= link_to "新しくアーティストを登録する", new_artist_path %></p>
<% @artist.each do |a| %>
  <div class="artist_icon_for_index">
    <p><% a.icon %></p>
      <% if a.icon.nil?%>
        <%= image_tag a.image_icon%>
      <%else%>
        <%= image_tag("default.jpg")%>
      <%end%>

  <a href="/artists/<%= a.id %>"><%= a.name %></a>
  </div>
  <hr>
<% end %>
