<% provide(:title, "Artist") %>

<br>
<%= link_to new_artist_path, class: "ui basic button" do %>
  <i class="headphones icon"></i>アーティストを追加する
<% end %>

<hr>
<% @artist.each do |a| %>
  <a href="/artists/<%= a.id %>">
    <h2 class="ui header">
        <% if a.icon.nil?%>
          <%= image_tag 'default.jpg', class: 'ui circular image'  %>
        <%else%>
          <%= image_tag (a.icon), class: 'ui circular image' %>
        <%end%>
        <%= a.name %>
    </h2>
  </a>
<hr>
<% end %>
