<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @artist, local: true) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

    <div class="field">
      <%= f.label :icon %>
      <%= f.file_field :icon %>
      <%= f.hidden_field :image_cache %>
    </div>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
