<% provide(:title, "Artist") %>

<h2><%= @artist.name %></h2></br>

<div class="artist_icon">
  <% if @artist.icon.nil?%>
    <%= image_tag("default.jpg")%>
  <%else%>
    <%= image_tag (@artist.icon)%>
  <%end%>
</div>
<%= render 'favs/fav_button' %>

<% if user_signed_in? %>
  <h5>follower [<%= @user_Favorited.count %>]</h5>
    <% @user_Favorited.each do |user| %>
      <a href="/users/<%= user.id %>"><%= user.name %></a>
      <hr>
    <% end %>
<% end %>
