<% unless user_signed_in? %>
  <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
      <div class="ui text container">
        <h1 class="ui inverted header">
          ライブ好きのためのアプリ</h1><br>
        <h2>好きなアーティストを通じて</h2>
        <h2>同じ熱量の仲間を見つけて</h2>
        <h2>ライブにいこう！！！</h2>
          <%= link_to new_user_session_path, class: "ui huge primary button" do %>
            <i class="sign in alternate icon"></i>Ready to Start
          <% end %>
      </div>
    </div>
  </div>
<% else %>
  <% provide(:title, "User Home") %>
  <div class="ui column grid">
    <div class="column">
      <div class="ui raised segment">
        <a class="ui red ribbon label">はじめに</a>
        <a class="header">
          好きなアーティストを登録して
          気の合う友達を見つけよう！！
        </a>
      </div>
    </div>
  </div>

  <div class="ui column grid">
    <div class="column">
      <div class="ui raised segment">
        <%= form_with url: users_path, method: :get, local: true do |form| %>
          <div class="ui action input">
            <%= form.text_field :name , class: "ui input focus", placeholder: "Search..." %>
            <%= button_tag '<i class="search icon"></i>'.html_safe, :type => "submit", :class =>"ui button"%>
          </div>
        <% end %>

        <% if @search_artists.nil? %>
        <% else %>
          <% @search_artists.each do |artist| %>
            <div class="ui avatar image">
              <% if artist.icon.nil?%>
                <%= image_tag("default.jpg",alt: "default_image") %>
              <%else%>
                <%= image_tag(artist.icon, alt: "artist_image") %>
              <% end %>
            </div>
            <span><a href="/artists/<%= artist.id %>"><%= artist.name %></a></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="ui container">
    <div class="ui six doubling cards">
      <% @artists.each do |a| %>
        <div class="ui card">
          <div class="ui image">
            <% if a.icon.nil?%>
              <%= image_tag("default.jpg",alt: "default_image") %>
            <%else%>
              <%= image_tag(a.icon, alt: "artist_image") %>
            <% end %>
          </div>
          <div class="content">
            <div class="ui tiny header">
              <a href="/artists/<%= a.id %>"><%= a.name %></a>
            </div>
          </div>
          <!-- <div class="extra content">
              <span><i class="user icon"></i>
               Friends
             </span>
          </div> -->
        </div>
      <% end %>
    </div>
  </div>
<% end %>
