<% provide(:title, "User home") %>
<h1>Users#show</h1>

<h2><%= @user.name %>さん</h2>
<%= image_tag @user.image_url if @user.image? %>

<% if @user.id == current_user.id %>
  <h3>いいねしているアーティスト</h3>
  <% @userFavorites.each do |artist| %>
  <a href="/artists/<%= artist.id %>"><%= artist.name %></a>
  <hr>
  <% end %>

  <h5>follower</h5>
  <% @userFollwers.each do |user| %>
    <p><strong><a href="/users/<%= user.id %>"><%= user.name %>さん</a></strong></p>
  <% end %>


  <h5>following</h5>
  <% @userFollowings.each do |user| %>
    <p><strong><a href="/users/<%= user.id %>"><%= user.name %>さん</a></strong></p>
  <% end %>
  <% @user.following.count %>

<% else %>
  <%# <% @user.artists.each do |artist| %> %>
  <%# <a href="/artists/<%= artist.id %>">
    <%# <%= artist.artist_name %></a> %> %>
  <!-- <hr> -->
  <%# <% end %> %>
  <% unless current_user.following?(@user) %>

　   <%= render 'relationships/follow_button', user: @user %>
  <% else %>

    <%= render 'relationships/follow_button', user: @user %>
    <% if @isRoom == true %>
      <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
    <% else %>
      <%= form_for @room do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, :value=> @user.id %>
        <% end %>
        <%= f.submit "チャットを始める" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= link_to 'プロフィール変更', edit_user_registration_path %><hr>
<%= link_to "ユーザー一覧に戻る", users_path %>


<p>Find me in app/views/users/show.html.erb</p>
