<div id="fav_form">
  <% if current_user.already_faved?(@artist) %>
    <%= form_with(model: current_user.favs.find_by(artist_id: @artist.id), local: true, method: :delete) do |f| %>
      <%= hidden_field_tag :artist_id, @artist.id %>
      <%= f.submit 'Unfavorite', class: 'btn btn-danger' %>
    <% end %>
  <% else %>
    <%= form_with(model: current_user.favs.build, local: true) do |f| %>
      <div><%= hidden_field_tag :artist_id, @artist.id %></div>
      <%= f.submit "Favorite", class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>
