<div class="ui right demo vertical sidebar labeled icon menu visible">
  <br>
  <br>
  <br>
  <a class="item" href="/users/<%= current_user.id %>"><%= current_user.name %>さん
  </a>

  <% if current_user.image? %>
    <a class="item" href="/users/<%= current_user.id %>">
      <div class="ui circular mini image">
        <%= image_tag current_user.image_url,alt: "user_image" do %>
          <a href="/users/<%= current_user.id %>"></a>
        <% end %>
      </div>
    </a>
  <% else %>
    <a class="item" href="/users/<%= current_user.id %>">
      <i class="ui circular user icon"></i>
    </a>
  <% end %>

  <%= link_to root_path,class: 'item' do %>
    <i class="ui circular home icon"></i>
  <% end %>

  <%= link_to artists_path,class: 'item' do %>
    <i class="circular headphones icon"></i>
  <% end %>

  <%= link_to destroy_user_session_path,class: 'item', :method => :delete do %>
    <i class="circular sign out alternate icon"></i>
  <% end %>

  <%= link_to edit_user_registration_path,class: 'item' do %>
    <i class="circular cogs icon"></i>
  <% end %>
</div>
