<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Fes App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_react' %>


    <%= render 'layouts/shim' %>
  </head>

  <body>
      <%= render 'layouts/alert' %>

      <% unless user_signed_in? %>
        <%= render 'layouts/header' %>
        <%= yield %>

      <% else %>
          <%= render 'layouts/sidebar' %>

          <div class="ui container">
            <%= render 'layouts/header' %>
            <%= yield %>
          </div>

      <% end %>
        <%= render 'layouts/footer' unless @skip_footer %>
        <%= debug(params) if Rails.env.development?  unless @skip_footer%>
  </body>
</html>
