<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Fes App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'layouts/shim' %>
  </head>

  <body>
      <%= render 'layouts/alert' %>

      <% unless user_signed_in? %>
        <%= render 'layouts/header' %>
        <%= yield %>

      <% else %>
      <div class="ui grid">
        <div class="two wide column">
          <%= render 'layouts/sidebar' %>
        </div>
        <div class="ten wide column">
          <div class="ui container">
            <%= render 'layouts/header' %>
            <%= yield %>
          </div>
        </div>
      </div>
      <% end %>
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
  </body>
</html>
